/* ////////// LOADING ////////// */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 99999;
}

.modal-content {
    position: fixed;
    background: #0C120C;
    width: 70%;
    padding: 30px;
    border: 1vh double #cacaca;
    border-radius: 10px;
    z-index: 99999999;
}

.modal-content p {
    margin-bottom: 2vh;
    font-size: var(--font-size);
}

.loader {
    margin: 0 !important;
    background: black !important;
    text-shadow: 1px 1px blue;
    z-index: 99999999 !important;
    justify-content: end !important;
    text-align: right;
    align-items: end;
    opacity: 1;
    transition: opacity 1s ease, visibility 1s ease;
}

.loader__inner {
    margin: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loader__inner img {
    width: 60%;
}

.loadingTxt {
    display: flex;
    flex-direction: row;
}

.intro {
    margin: 0 !important;
    background: repeating-linear-gradient(0deg,
            #0E0D0E 25%,
            #0E0D0E 50%,
            #171819 50%,
            #171819 75%) !important;
    background-size: 10px 10px !important;
    text-shadow: 1px 1px blue;
    z-index: 99999999 !important;
}

.ldSection {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.leSnake span {
    animation: leSnake 1.5s ease-in-out;
    animation-iteration-count: infinite
}

@keyframes leSnake {

    from,
    to {
        transform: translateY(0px)
    }

    50% {
        transform: translateY(-10px)
    }
}

.cssanimation {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.credits {
    max-width: 70%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    color: #eee;
    background-color: #1a1a1a;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 10px #333;
}

.credit-group {
    margin-bottom: 1.5rem;
}

.credit-group li {
    list-style: none;
    list-style-type: none;
}

.credit-group h3 {
    margin-bottom: 0.5rem;
    color: #5cf;
}

a {
    color: #9cf;
    text-decoration: underline;
    border-color: #9cf;
}

h2 {
    max-width: fit-content;
    height: 2em;
}

#section2 {
    display: flex;
    flex-direction: column;
    line-height: 5vh;
}

#section2 img {
    margin-top: 2vh;
    border-radius: 50%;
    width: 100%;
    box-shadow: 5px 0 #343343, 10px 0 #404798;
    transition: 0.1s ease;
}

#section2 img:hover {
    transform: scale(1.1);
    box-shadow: 5px 0 #343343, 10px 0 #404798, 15px 0 #1526ED;
}

#section2 p:hover {
    transform: scale(1.1);
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 3vh;
}

.fade-out {
    animation: fadeOut 1s forwards;
    opacity: 0;
}

.fade-in {
    animation: fadeOut 1s forwards reverse;
    opacity: 1;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* Typing */
.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 1.5s steps(35, end),
      blink-caret 1s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: initial; }
  }