@font-face {
    font-family: 'PokeFont';
    src: url('../assets/font/PKMN_RBYGSC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    /* Credits: https://www.dafont.com/pkmn-rbygsc.font*/
}

:root {
    --normal-border: 0.5vh double black;
    --larger-border: 1vh double black;
    --border-radius: 2vh;

    --font-size: 2.5vh;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    letter-spacing: 2px;
    font-family: PokeFont, Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    overflow: hidden;

    zoom: 1 !important;
}

.hidden {
    display: none !important;
    opacity: 0;
}

canvas {
    width: 100%;
}

.message {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5) !important;
    text-align: center;
    padding-top: 50%;
    z-index: 1000;
}

.transition {
    background-color: rgba(255, 255, 255, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    pointer-events: none;
    transform: scale(1);
    opacity: 0;
    z-index: 100;

    background-image: url(../assets/img/battle.png);
    background-size: 10%;
    background-position: center;
    background-repeat: no-repeat;
}

.actions {
    background-color: rgba(255, 255, 255, 0.7);
    width: 98%;
    height: 26%;
    position: absolute;
    bottom: 0;
    left: 0;

    padding: 0.5% 0.5%;
    margin: 1% 1% 0.5% 1%;
    
    border: var(--larger-border);
    border-radius: var(--border-radius);
    animation: actIntro 0.4s linear;
    display: flex;
    flex-direction: row;

    font-size: var(--font-size);
    font-weight: bolder;
    color: black;
}

.actions > * {
    transition: all 0.2s ease-in-out;
    width: 50%;
    height: 100%;
}

.description {
    margin-right: 1%;
    height: 100%;
    border: var(--normal-border);
    font-weight: normal !important;
}

.description, .optBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    gap: 3%;
}

.options > * {
    border: var(--normal-border);
    margin: 0;
}

.optBtn {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#select {
    color: transparent;
    transition: opacity 0.2s ease-in-out;
}

.optBtn:hover > #select {
    color: black;
}

.optBtn:hover {
    transform: scale(1.02);
}

@keyframes actIntro {
    from {
        height: 0px;
    } to {
        height: 23%;
    }
}