body {
    margin: 0;
    overflow: hidden;

    zoom: 1 !important;
}

canvas {
    width: 100% !important;
    height: 100% !important;
}

.hidden {
    display: none !important;
    overflow: none;
    opacity: 0;
}